// Colors
$navy: #042241;
$blue: #00689d;
$blue--light: #008ad1;
$blue--lighter: #03a9ff;
$beige: #f7f6f5;
$morkegra: #bac2cb;
$white: white;
$white-almost: #e6e6e6;
$black: black;
$green: #4b5438;
$dark-blue: #021e43;

// greys
$gray-lightest: #f8f8f8;
$gray-light: #f6f6f6;
$gray: #706f6f;
$gray-medium: #ccccd2;
$gray-mid: #9b9b9b;
$silver: #e6e6e6;
$gray-dark: #454444;
$gray-dark-01: #707070;
$gray-dark-02: #d1d1d1;
$gray-darker: #1b1b1b;

// Warning Color
$red: #d53131;
$yellow: #f6cf00;
$green: #145242;
$green-light: #32cea4;

// Primary, secondary and accent
$primary: $blue;
$secondary: $yellow;
$accent: $navy;

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.block-views-blockcalendar-index-block-1 {
  .calendar_box_teaser {
    .grid {
      // only show the first 4 direct child items
      > div:nth-child(n + 5) {
        display: none;
      }
    }
  }
}

// Content area of Gutenberg editor
.edit-post-visual-editor__content-area {
  a {
    &:not(.btn-gutenberg) {
      color: #00689d;
    }
  }

  .card {
    border: 0;
    border-radius: 0;

    .card__copy {
      a {
        color: $navy;
      }
    }
  }

  ul {
    list-style-type: disc;
    margin: 0.5em 0 1em;
    li {
      margin-bottom: 0.4em;
      padding-left: 0.3em;
    }
  }
}

// Custom width for Landing page builder type only
.page--landing_page_builder {
  .wp-block {
    &:not([data-align="full"]) {
      max-width: 1440px;
    }
  }
}

.wp-block {
  div.contextual {
    display: none;
  }
}

.wp-block-drupalblock-custom-search-block {
  form {
    position: relative;
    height: 55px;

    input {
      &#edit-keyword {
        background-color: $silver;
        border: medium none;
        color: $navy;
        width: 100%;
        font-size: 1.1rem;
        height: 55px;
        padding-left: 1.4rem;

        &:focus {
          box-shadow: 0 0 0;
        }
      }

      &#edit-actions-submit {
        color: transparent;
        background-image: url("../images/icon_sok-blue.svg");
        background-repeat: no-repeat;
        background-size: 20px auto;
        background-position: center;
        top: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        border: 0 !important;
        width: 55px;
        height: 55px;
        margin: 0;
      }
    }
  }
}

// Custom search block
[data-type="drupalblock/custom-search-block"] {
  .components-placeholder {
    display: none;
  }
}

// Most searched menu
.wp-block-drupalblock-menu-item-fields-mest-sokte {
  ul {
    justify-content: initial;
    display: flex;
    flex-direction: column;
    padding: 0 !important;
    margin: 0;
    flex-wrap: wrap;
    max-width: 488px;

    li {
      margin: 0 0 4px 0;
      list-style: none;
    }
  }
}

// UI adjustment
.line-color--item {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  .line-color--label {
    font-weight: bold;
    max-width: 50%;
  }

  .components-circular-option-picker__custom-clear-wrapper,
  .components-circular-option-picker {
    margin-top: 0 !important;
    flex: 1;
  }

  &:hover {
    background-color: #f0f0f0;
  }
}
